#Lambda function

###A function with no name

In [ ]:
 # Syntax
# lambda input variables: operation to be  performed
# only possible if you have to perform a single operation/expression

In [1]:
even1=lambda a:a%2==0

In [2]:
even1(12)

True

In [3]:
addition=lambda a,b,c:a+b+c

In [4]:
addition(2,3,4)

9

## Map Function in Python
## applying function iteratively for each element 
# Syntax: map( function name, iterable)

In [12]:
lst=[1,2,3,5,8,4,9,6,11,14,13]

In [13]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is even".format(num)
    else:
        return "The number {} is odd".format(num)

In [15]:
even_or_odd(24)

'The number 24 is even'

In [17]:
# to iterate the above function through each element of the list

list(map(even_or_odd, lst))

['The number 1 is odd',
 'The number 2 is even',
 'The number 3 is odd',
 'The number 5 is odd',
 'The number 8 is even',
 'The number 4 is even',
 'The number 9 is odd',
 'The number 6 is even',
 'The number 11 is odd',
 'The number 14 is even',
 'The number 13 is odd']

# FILTER Function
### it will give only values where the condition is TRUE but map will give all values

In [19]:
def even_odd(num):
    if num%2==0:
        return num

In [ ]:
#returning all the elements in the list
list(map(even_odd,lst))

[None, 2, None, None, 8, 4, None, 6, None, 14, None]

In [ ]:
#returns only values that satisfy the condition
list(filter(even_odd,lst))

[2, 8, 4, 6, 14]

In [ ]:
# another way to do it
list(filter(lambda num:num%2==0,lst))

[2, 8, 4, 6, 14]

# List Comprehension
# provides an easy way to create a list
# Consists of brackets followed by en expression ( the result) followed by the for clause , them zero or more for or if classes

In [24]:
# getting the square of list

lst1=[]

def list_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [26]:
list_square([1,2,4,5,6,7,8])

[1, 4, 16, 25, 36, 49, 64]

In [27]:
lst =[1,2,4,5,6,7,8]

In [ ]:
#list comprehension

[i*i for i in lst]

[1, 4, 16, 25, 36, 49, 64]

In [ ]:
#Square of even numbers

[i*i for i in lst if i%2==0]

[1, 25, 49]