1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
from posixpath import join
list=[]
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    list.append(str(i))

x=",".join(list)
print(x)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

List Comprehension

In [ ]:
print([i for i in range(2000,3201) if i%7==0 and i%5!=0],sep=",")

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Generator Comprehension

In [ ]:
print(*(i for i in range(2000,3201) if i%7==0 and i%5!=0),sep=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

2. Write a program which can compute the factorial of a given numbers.The results should be printed in a comma-separated sequence on a single line.Suppose the following input is supplied to the program: 8 Then, the output should be:40320

In [ ]:
def fact(num):
  fact=1
  for i in range(1,num+1):
      fact=fact*i
  print(fact)

In [ ]:
fact(8)

40320

#using reduce

In [ ]:
from functools import reduce

def accumulator(acc,item): ##Defining an accumulator function
  return acc*item

num=int(input("Enter the Number:"))

print(reduce(accumulator,range(1,num+1),1))# reduce(function, iterable,initial value)

Enter the Number:8
40320

3.
With a given integral number n, write a program to generate a dictionary that contains (i, i x i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.Suppose the following input is supplied to the program: 8

Then, the output should be:

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Using Dictionary Comprehension

In [ ]:
n=int(input("Enter the Number"))
print( {i:i*i for i in range(1,n+1)})

Enter the Number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
n=int(input("Enter the Number"))
dict={}
for i in range(1,n+1):
  dict.update({i:i*i})

print(dict)

Enter the Number8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4. Removing Duplicates in a List

In [ ]:
lst=[1,1,2,3,3,4,5,6,6,6,7]

[char for char in set(lst) if lst.count(char)>1 ]

[1, 3, 6]

5.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.Suppose the following input is supplied to the program:

34,67,55,33,12,98
Then, the output should be:

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

In [ ]:
values=input()
l=values.split(',')
TUP=tuple(l)
print(TUP)
print(l)

1,2,3,4,5,6,7
('1', '2', '3', '4', '5', '6', '7')
['1', '2', '3', '4', '5', '6', '7']

6.Define a class which has at least two methods:

getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

In [ ]:
class test:
  def getString(self):
    self.n=input("Enter the String")
  def printString(self):
    print(f'The printed string is {self.n.upper()}')

In [ ]:
t1=test()

In [ ]:
t1.getString()

Enter the Stringmanish

In [ ]:
t1.printString()

The printed string is MANISH

7. Write a program that calculates and prints the value according to the given formula:

Q = Square root of [(2 _ C _ D)/H]

Following are the fixed values of C and H:

C is 50. H is 30.

D is the variable whose values should be input to your program in a comma-separated sequence.For example Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:

18,22,24

In [ ]:
import math
a=input("Enter the Number")
c=50
h=30
b=a.split(',')

lst=[]
for i  in b:
  Q=math.sqrt((2*c*int(i))/h)
  k=math.floor(Q)
  lst.append(str(k))


l=','.join(lst)
print(l)

Enter the Number100,150,180
18,22,24

8. _Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i _ j.*

Note: i=0,1.., X-1; j=0,1,¡­Y-1. Suppose the following inputs are given to the program: 3,5

Then, the output of the program should be:

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
lst= [int(i) for i in input().split(',')]
i,j=lst
lt=[]
lo=[]

for a in range(i):
  for b in range(j):
    lt.append(a*b)
  lo.append(lt)
  lt=[]


print(lo)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

9. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program:

without,hello,bag,world
Then, the output should be:

bag,hello,without,world

In [ ]:
lst=[i for i in input().split(',')]


lst.sort() #will modify the original list

lst1=sorted(lst) ## will create a new list

lst2=','.join(lst)

print(lst2)

without,hello,bag,world
bag,hello,without,world

10.Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

Suppose the following input is supplied to the program:

Hello world
Practice makes perfect
Then, the output should be:

HELLO WORLD
PRACTICE MAKES PERFECT

In [ ]:
lst=[]
while True:
  x=input()
  if x:
    lst.append(x.upper())
  else:
    break
for line in lst:
  print(line)

hello world
pactice makes perfect

HELLO WORLD
PACTICE MAKES PERFECT

11.
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

Suppose the following input is supplied to the program:

hello world and practice makes perfect and hello world again
Then, the output should be:

again and hello makes perfect practice world

In [ ]:
lst=[i for i in input().split(' ')]

lst1=[]
for i in lst:
  if i not in lst1:
    lst1.append(i)
  lst1.sort()
print(' '.join(lst1))

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

11.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

Example:

0100,0011,1010,1001
Then the output should be:

1010

In [ ]:
lst=[i for i in input().split(',')]

print(lst)

lst1= list(filter(lambda i : int(i,2)%5==0,lst))

print(','.join(lst1))

0100,0011,1010,1001
['0100', '0011', '1010', '1001']
1010

12. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
lst=[1,2,3]

lst.count()

TypeError: ignored

In [ ]:
lst1=[]
for i in range(1000,3001):
  x=str(i)
  lst3=[int(x[j]) for j in range(len(x)) if int(x[j])%2!=0]
  if not lst3:
    lst1.append(x)

print(len(lst1))
print(','.join(lst1))

125
2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

12.
Write a program that accepts a sentence and calculate the number of letters and digits.

Suppose the following input is supplied to the program:

hello world! 123
Then, the output should be:

LETTERS 10
DIGITS 3

In [ ]:
import re
x=input()
Letter=re.findall('[A-Za-z]',x)
Numbers=re.findall('[0-9]',x)


print(f'LETTERS {len(Letter)} DIGITS {len(Numbers)}')

hello world! 123
LETTERS 10 DIGITS 3

13. Input: arr[] = [54, 43, 2, 1, 5]


Output: 54 43 2 1 5


Explanation: Just traverse and print the numbers.

In [10]:
lst=[54, 43, 2, 1, 5]

In [2]:
lst.reverse()

In [3]:
print(lst)

[5, 1, 2, 43, 54]

In [7]:
lst[::-1]

[5, 1, 2, 43, 54]

In [20]:
#to find sum of elements in a list

total =0
for i in lst:
    total+=i
print(total)

105

In [ ]:
result=sum(lst)
print(result)

105

:

In [ ]:
total=0