# Python Data Classes

### feature in Python 3.7 that provides a consice way to define classes primarily intended to store data. It auomatically generates several special methods such as init, repr and eq, based on class attributes you define

In [1]:
from dataclasses import dataclass

In [11]:
@dataclass
class Person:
    name:str
    age:int
    profession:str

In [12]:
person1=Person("Manish",34,"engineer")

In [13]:
person1

Person(name='Manish', age=34, profession='engineer')

@dataclass Decorator automatically generates the following methods for you:

1. init() : Initializes the object and assigns the provided values to the attributes.

2. repr() : Provides a string representation of the object

3. eq() : Implements equality comparison between 2 objectsof the class

In [25]:
@dataclass
class Person:
    name:str
    age:int
    profession:str ='AI'

In [26]:
person1=Person('Manish',34)

In [24]:
person1

Person(name='Deepak', age=34, profession='Data Analyst')

In [17]:
person1.profession='Data Analyst'

In [23]:
person1.name="Deepak"

In [19]:
##immutable class

@dataclass(frozen=True)
class Point:
    x:int
    y:int

In [20]:
point1=Point(3,4)

In [ ]:
# can't change attribute in immutable class
point1.x=5

FrozenInstanceError: cannot assign to field 'x'

In [30]:
## Inheritance

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employeeid:int
    department:str

In [29]:
person=Person("manish",35)

In [31]:
employee=Employee("manish",34,121,'AI')

In [32]:
employee

Employee(name='manish', age=34, employeeid=121, department='AI')

Nested Data class

In [ ]:
@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:int
    address:Address # call specific data class

In [ ]:
person=Person("manish",34,"road",'delhi',110035) # address has to be passed as an object

TypeError: Person.__init__() takes 4 positional arguments but 6 were given

In [37]:
address=Address ('121 street','Oakville','L65MP7')

In [38]:
person=Person("manish",34,address)

In [39]:
person

Person(name='manish', age=34, address=Address(street='121 street', city='Oakville', zip_code='L65MP7'))

In [40]:
person.address.city

'Oakville'